{% load static %}

<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【店老闆百萬營收學院】一堂服務業老闆必學的導客實戰大課</title>
    <meta name="robots" content="noindex,follow" />
    <meta name="googlebot" content="noindex,follow" />
    <meta name="description" content="【店老闆百萬營收學院】一堂服務業老闆必學的導客實戰大課" />
    <meta property="og:title" content="【店老闆百萬營收學院】一堂服務業老闆必學的導客實戰大課" />
    <meta property="og:description" content="【店老闆百萬營收學院】一堂服務業老闆必學的導客實戰大課" />
    {% comment %} <meta property="og:url" content="https://thinkmediakaik.vip/courses/thinkthink" /> {% endcomment %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://warehouse.kaik.network/course/cover_photo/c7db4f5c-f276-4f7b-b575-0ed3324a8592/6056a0e6-b520-455d-b0cb-e1e8d6929076.jpg" />
    <meta property="og:image:alt" content="不用派報發傳單、完全不懂網路的服務業房仲超業導客系統大公開(本課程為實體課程) " />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'house_manager/style.css' %}>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand navbar-light bg-light ">
            <div class="container-fluid">
             <div class="mx-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="#">課程簡介</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">課程內容</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#about">關於老師</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#buyer">常見問題</a>
                    </li>
                </ul>
             </div>
           
              
            </div>
        </nav>
    </header>

    <article>
        <div class="container mt-4 ">
            <div class="row ps-md-5 pe-md-5">
                <div class="col-12 col-md-8 order-2 order-md-1 mt-2">
                    <div id="about" class="" style="padding-top: 100px; margin-top: -100px;">
                        <h1>我是台灣房仲業的傳奇名師、房產廣告界的領袖 全國最知名的房仲，為您服務地產買賣
                            買房首購專家-KEN .多年房仲經驗</h1>
                        <ul>
                            <li>精通廣告投放</li>
                            <li>代銷質感服務</li>
                            <li>知名房仲 Youtuber .<小資族圓夢置產55堂課>作者</li>
                        </ul>
                        【高知名度】 每周接受三立、華視、東森、TVBS等各大新聞採訪、了解市 場趨勢<br>
                        【豐富經驗】 每年有超過500位客戶主動上門詢問委託、數十件專任委 託，超高知名度加上專業，值得你們的信賴<br>
                        【精準廣告行銷】 不走傳統老路，主動出擊潛在客戶，10年來助200位以上的 案件配對成功，找到自己心目中的家<br>
                        【專業內行】 曾經完美幫助、服務過企業主、高資產的屋主、大型土地主 等獲利，全台灣僅有少數的人有能力能夠處理相關事宜<br>
                    </div>
                    <div id="seller" class="mt-4">
                        <h2>三大重點，告訴你為什麼在埔里賣房子找 KEN 就對了</h2>
                        <ol>
                            <li>百萬媒體廣告負責人 術業有專攻，我擁有一間廣告媒體公司，超強媒體團隊、專 業廣告知識，完美助攻你的房產包裝</li>
                            <li>攝影、文案、剪輯、設計、行銷一次排開 一條龍的服務，統一的窗口，專業的團隊歡迎你來體驗，我 們絕對能夠針對你的房子找到最適合的銷售突破口，簡單、 有效</li>
                            <li>品牌背書保證 眾多媒體的採訪已經讓我的名字就是一個品牌，因此您不 用擔心我會欺騙或是落跑，並且高知名度就是高曝光度，選 擇吳宣宏就是一個最佳的售屋保證</li>
                        </ol>
                    </div>
                    <div id="buyer" style="padding-top: 60px; margin-top: -60px;">
                        <h2>四個小秘密，聽完就知道為什麼在埔里買房要找 KEN</h2>
                        <ol>
                            <li>擁有海量物件 委託的人多，物件也多，自然能夠精準配對到你心目中的家</li>
                            <li>豐富經驗 曾經與商週刊合作出版過「小資族圓夢置產55堂課」，有足 夠的知識及經驗能夠帶領小資族群圓夢，豐富的經驗也意 味著各位遇到的問題、困難，我都了解也有解決的方法</li>
                            <li>知名 Youtuber 拍攝過上百部影片，包含選購房屋攻略、如何破解話術，由 此可知我是不會以話術來誘騙你的</li>
                            <li>在地生根 我是土生土長的埔里孩子，從23歲開始從基層做起，一路做 到埔里的房仲店東長，並成為想想集團的共同創辦人，俗話 說十年磨一劍，我花了十年在埔里耕耘，也讓自己成為埔里 最強、最專業的仲介</li>
                        </ol>
                        <div>選擇 KEN，絕對讓你買對不買貴</div>
                    </div>
                    <div id="compare" class="mt-4">
                        <h2>來看看 KEN 跟傳統房仲的差距究竟有多大</h2>
                        <div>
                            知名度<br>
                            默默無名vs台灣最知名的房仲 高知名度代表高曝光，對您的房子是一種免費的廣告，同時 也代表出問題的機率少，沒有人願意用自己的姓名擔保，但 我敢<br>
                        </div>
                        <div>
                            銷售方式<br>
                            話術滿滿vs需求分析 拒絕話術的前提是對於自身專業的自信，因為了解手上的 物件、了解客人的需求，所以可以做最適合的推薦<br>
                        </div>
                        <div>
                            素材表現<br>
                            手機vs百萬設備 專業的器材不代表拍攝、構圖一定好，但至少畫質清楚，另 外還有聘請專業的設計、攝影、剪輯，能夠將物件表現得最 好<br>
                        </div>
                        <div>
                            服務態度<br>
                            敷衍、沒有按時回報vs專案式規劃，積極誠實 誠實、正直、公開、透明，是我對自己的要求，專案式規劃則 是我對你們的責任<br>
                        </div>
                        <div>
                            行銷方式<br>
                            傳統、非法電線杆vs數位廣告、影音行銷 代銷式影片，行銷方式更加符合現代人的習慣，我一直隨著 時代成長、不斷進步<br>
                        </div>
                    </div>
                    <div id="who">
                        <h3>應該來找 KEN 的人:你是其中之一嗎?</h3>
                        <ul>
                            <li>新屋出售:委託多位房仲卻遲遲賣不出去，心灰意冷</li>
                            <li>首購族:買房小白，最怕被話術欺騙</li>
                            <li>企業:企業相關文件專業又複雜，普通人無法輕易處理</li>
                            <li>專業人士:專業人士在自己的領域需要不斷精進自己的知 識，因此缺乏時間研究房地產相關事宜，需要有具有足夠知 識的人協助打理</li>
                            <li>大地主:擁有廣大土地的老闆，需要大型買家，我擁有足夠 的人脈能為您帶來合理又漂亮的價格</li>
                            <li>上班族:上班耗費的體力、腦力已經將身心靈消耗殆盡，無 法仔細研究房地產相關資訊，需要有專業的分析，找到符合 自己的需求</li>
                            <li>建設公司:需要認識大量地主的我為您分析建案，及是否 有投資報酬率，值不值得進場</li>
                        </ul>
                    </div>
                    <div id="steps">
                        <h3>KEN不是只會說說，帶你直擊買房賣房五步驟</h3>
                        <h5>廣告:針對房屋做合適的廣告投遞，足夠的曝光度、正確的 目標客群</h5>
                        <div class="ratio ratio-16x9">
                            <iframe 
                                src="https://www.youtube.com/embed/rj-SK2rItxo" 
                                allowfullscreen>
                            </iframe>
                        </div>

                        <h5>帶看:近幾年受到疫情的衝擊，逐漸興起線上看房的趨勢， KEN運用影片剪輯的優勢，將房屋內的優勢、周遭地區的方 便程度等等都能拍成影片，同時也能夠帶領您實際前往看 房</h5>
                        <div class="ratio ratio-16x9">
                            <iframe 
                                src="https://www.youtube.com/embed/videoseries?list=PLFpI9lDatNTYkygq5Vk2ebHWojDDKDu-G" 
                                allowfullscreen>
                            </iframe>
                        </div>
                        
                        <h5>銷售:數位房仲比起傳動房仲多了數位化的行銷方式，讓銷 售這件事變得更加透明、方便、符合現代</h5>
                        <div class="ratio ratio-16x9">
                            <iframe 
                                src="https://www.youtube.com/embed/videoseries?list=PLFpI9lDatNTbYqWXSET0hkX4bH-qD2pvv" 
                                allowfullscreen>
                            </iframe>
                        </div>
                        
                        <h5>議價:拒絕話術、拒絕賣弄恐慌感，KEN會實際走訪現場， 針對房屋的屋況、周遭的情況等等，為房子做最適合的訂 價，並為您議價，用合理的價格買賣房屋</h5>
                        <div class="ratio ratio-16x9">
                            <iframe 
                                src="https://www.youtube.com/embed/QV16ZiHGqmY" 
                                allowfullscreen>
                            </iframe>
                        </div>
                        
                        <h5>簽約:好的房仲會幫您檢查合約的內容，是否足夠仔細</h5>
                        <div class="ratio ratio-16x9">
                            <iframe 
                                src="https://www.youtube.com/embed/AAcAKldU0nI" 
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div id="intro" class="my-2">
                        10年來我幫助過200位以上的客戶找到自己心目中的家，從 100萬內的套房到4000萬以上的商辦大樓都能完美解決，每 年更有許多高階主管、大型企業主指定要求我來服務。 我是 Youtube頻道買房首購專家的創辦人--KEN，我希望能 夠將我這些年在房地產買賣界學到的知識、大家容易踩到 的地雷都一一跟你們說，我希望房地產市場能夠更加誠實、 透明，讓大家都能找到自己心目中的家。 每周我都會接受各大電視台的採訪，分析目前市場的趨勢， 讓我的專業能夠幫助各位評估自己目前適不適合買房、賣 房，我是KEN，隨時歡迎您來詢問，體驗專業的服務。
                    </div>
                </div>

                <div class="col-12 col-md-4 order-1 order-md-2 mt-2">
                    <div>
                        <img src="{% static 'house_manager/images/1.webp' %}" class="img-fluid">
                    </div>
                    <div>
                        <h5>本課程包含以下內容：</h5>
                        7 個課程單元<br>
                        價值9600美元(29萬台幣)BONUS<br>
                        1.線上課程 價值4000美元<br>
                        2.自動化門市導客流程圖 價值1000美元<br>
                        3.自動受眾優化系統一個月使用權 價值300美元<br>
                        4.學員行銷交流群組 價值300美元<br>
                        5.想想行銷學院2日實體大課使用券 價值4000美元<br>
                        總價值:9600美元<br>
                        優惠價 NT$39,800<br>
                        <div class="line-through">原價 NT$238,600</div>
                        
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer class="footer">
        
        客服信箱：a0980319262@gmail.com | 客服電話：0422543484
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </footer>
</body>
</html>
