{% load static %}

<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【店老闆百萬營收學院】一堂服務業老闆必學的導客實戰大課</title>
    <meta name="robots" content="noindex,follow" />
    <meta name="googlebot" content="noindex,follow" />
    <meta name="description" content="【店老闆百萬營收學院】一堂服務業老闆必學的導客實戰大課" />
    <meta property="og:title" content="【店老闆百萬營收學院】一堂服務業老闆必學的導客實戰大課" />
    <meta property="og:description" content="【店老闆百萬營收學院】一堂服務業老闆必學的導客實戰大課" />
    {% comment %} <meta property="og:url" content="https://thinkmediakaik.vip/courses/thinkthink" /> {% endcomment %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://warehouse.kaik.network/course/cover_photo/c7db4f5c-f276-4f7b-b575-0ed3324a8592/6056a0e6-b520-455d-b0cb-e1e8d6929076.jpg" />
    <meta property="og:image:alt" content="不用派報發傳單、完全不懂網路的服務業房仲超業導客系統大公開(本課程為實體課程) " />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'house_manager/style.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body class="bg-dark">
    {% comment %} <header class="sticky-top">
        <nav class="navbar navbar-expand bg-dark ">
            <div class="container-fluid">
                <div class="mx-auto">
                    <div class="navigation">
                        <ul>
                          <li class="list active">
                            <a href="#about">
                              <span class="text text-white ">師資簡介</span>
                            </a>
                          </li>
                          <li class="list">
                            <a href="#seller">
                              <span class="text text-white ">課程介紹</span>
                            </a>
                          </li>
                          <li class="list">
                            <a href="#compare">
                              <span class="text text-white ">各種比較</span>
                            </a>
                          </li>
                          <li class="list">
                            <a href="#steps">
                              <span class="text text-white " >買賣五步</span>
                            </a>
                          </li>
                          <div class="indicator"></div>
                        </ul>
                    </div>
                </div>
            </div>
            
            <script>
                const list = document.querySelectorAll(".list");

                function activeLink() {
                    list.forEach((item) => item.classList.remove("active"));
                    this.classList.add("active");
                }
                list.forEach((item) => item.addEventListener("click", activeLink));
            </script>
        </nav>
        <hr>
    </header> {% endcomment %}

    <main>
        <div class="container-sm text-center">
            <img class="img-fluid" src="{% static 'house_manager/images/whole.jpg' %}">
        </div>
    </main>

    <footer class="footer bg-dark">
        客服信箱：a0980319262@gmail.com <br> 客服電話：0422543484
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </footer>
</body>
</html>
