.line-through{
    text-decoration:line-through;	
}

.footer{
    color: #fff;
    background-color: #444;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    position: relative;
    flex: row wrap;
    justify-content: center;
    align-items: center;
 }

.navigation ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 4rem;
    height: 30px;
    z-index: 1;
    margin: 0 10px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.navigation ul li a .text {
    position: absolute;
    color: #444;
    font-weight: 400;
    font-size: 1rem;
    transition: 0.5s;
    opacity: 1;
    transform: translateY(20px);
}

.indicator {
    position: absolute;
    top: 30px;
    width: 4rem;
    height: 8px;
    background: rgb(255, 213, 0);
    transition: 0.5s;
    margin: 0 10px;
}

/* Indicator Transitions */
.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(4rem * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(4rem * 1 + 20px));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(4rem * 2 + 40px));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(4rem * 3 + 60px));
}



@media(min-width:576px){
    .navigation ul li {
        width: 100px;
    }

    .indicator {
        width: 100px;
    }

    /* Indicator Transitions */
    .navigation ul li:nth-child(1).active ~ .indicator {
        transform: translateX(calc(100px * 0));
    }
    .navigation ul li:nth-child(2).active ~ .indicator {
        transform: translateX(calc(100px * 1 + 20px));
    }
    .navigation ul li:nth-child(3).active ~ .indicator {
        transform: translateX(calc(100px * 2 + 40px));
    }
    .navigation ul li:nth-child(4).active ~ .indicator {
        transform: translateX(calc(100px * 3 + 60px));
    }
}